html {
  position: relative;
  min-height: 100%;
}
.header {
  border-bottom: 1px solid #e5e5e5;
}
.navbar-brand {
  cursor: pointer;
}
.octicon-logo-github {
  color: #000;
}
.logo {
  line-height: 24px;
  vertical-align: bottom;
}
.logo-colon {
  color: #afafaf;
}
.logo-buttons {
  color: #4ea6ea;
}
.main {
  padding-bottom: 57px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 57px;
  overflow-y: hidden;
  border-top: 1px solid #e5e5e5;
}
.octicon {
  display: inline-block;
  vertical-align: text-top !important;
  fill: currentColor;
}
