@use 'bootstrap/scss/bootstrap.scss' with (
  $color-mode-type: media-query
);

.navbar-brand {
  cursor: pointer;
}

.octicon {
  display: inline-block;
  vertical-align: text-top !important;
  fill: currentColor;
}

.octicon-logo-github {
  color: var(--bs-navbar-brand-color);
}
